<!DOCTYPE html>
<html>
    <head>
        <title>Picture Evolution</title>
        <link rel = "stylesheet" type = "text/css" href = "assets/css/style.css">
    </head>
    <body>
        <center><h1 class = "title">Picture Evolution with ML</h1>
        <label class = "label" id = "generateDefaultLabel">Generate an Apple</label>
        <input id = "generateDefault" type = "submit" value = "Generate Another">
        </center>
        <br>
        
        <center><img class = "result" src = "assets/images/result_image0.png"></center>
        <form>
            <label class = "label">Copy and Paste your metafile here</label>
            <input class = "submit" type = "submit">
            <textarea class="field" cols="100" rows="50"></textarea>
        </form>
        
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script type="text/javascript" src="assets/js/script.js"></script>
    </body>
    

</html>