<!DOCTYPE html>
<html>
    <head>
        <title>Picture Evolution</title>
        <link rel = "stylesheet" type = "text/css" href = "static/style.css">
    </head>
    <body>
        <center><img class = "result" src = "../static/images/resultImage0.png"></center>
        
        
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script type="text/javascript" src="assets/js/script.js"></script>
    </body>
    

</html>